 body {
     overflow-x: hidden;
 }

 .navbar {
     background-color: rgb(53, 50, 50);
     padding-left: 80px;
     padding-right: 100px;
 }

 #navbarNav {
     justify-content: right;

 }

 .background {
     background-size: cover;
     min-height: 60vh;
     min-width: 100ch;
     background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./imagenes/hawaii.jpg);
     background-repeat: no-repeat;
     background-position: center;
     margin: 0;
     padding: 0;
 }

 .half {
     text-align: right;
     color: white;
     width: 50%;
     margin-right: 165px;
     padding-top: 200px;
 }

 .col-1-panel {
     background-image: url(imagenes/honolulu.jpg);
     background-size: cover;
     min-height: 60vh;
     min-width: 100ch;
 }

 .col-2-panel {
     background-color: rgb(53, 50, 50);
     background-size: cover;
     min-height: 60vh;
     min-width: 100ch;
     color: white;
 }

 .card {
     text-align: left;
 }

 .oradores,
 .form {
     text-align: center;
 }

 .datos {
     text-align: center;
     height: 100%;
     margin-top: 25px;
 }

 footer {
     background-color: rgb(39, 48, 62);
     color: white;
 }

 .main--compra {
     height: 100vh;
     padding-top: 80px;
 }

 .compra--footer {
     position: absolute;
     bottom: 0;
     width: 100%;
 }

 .main--categorias {
     padding-top: 100px;
 }

 .card {
     margin-left: 10px;
 }

 .card-body-es {
     border: 2px solid blue;
 }

 .card-body-tr {
     border: 2px solid gray;
 }

 .card-body-ju {
     border: 2px solid rgb(216, 216, 59);
 }

 .card-body-es,
 .card-body-ju,
 .card-body-tr {
     padding: 10px;
 }

 .compra--total {
     text-align: left;
     margin: 13px;
     padding-top: 17px;
     font-size: large;
     font-weight: 500;
     background-color: aqua;
     color: rgb(8, 6, 86);
     height: 55px;
     border: solid 1px rgb(214, 209, 209);
 }